.entries {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

:root {
  --header-height: 54px;
  --footer-height: 32px;
}

.fb__header {
  height: var(--header-height);
}

.fb__sidebar {
  top: var(--header-height);
}

.fb__footer {
  height: var(--footer-height);
}

.fb__details {
  top: var(--header-height);
}

.fb__main {
  top: var(--header-height);
  bottom: var(--footer-height);
}